<mat-card *ngIf="os" class="content-root">
  <div class="header">
    <div class="os-text mat-mdc-card-header-text">
      <h2>{{os.name}}</h2>
      <h3>Производитель: {{os.vendor}}</h3>
      <h3>Версия: {{os.version}}</h3>
    </div>
    <img
      mat-card-sm-image
      src="{{os.mainPhoto}}"
      alt="photo os"
      class="os-card-img"
    >
  </div>
  <mat-card-content>
    <div *ngIf="os.photos" class="carousel">
      <si-ng-carousel id="carousel" [visible]="1" [showButtons]="true" [loop]="true" #carousel>
        <div *ngFor="let img of os.photos" siCarouselItem class="item">
          <img
            alt="photo"
            [src]="img.url"
            class="carousel-img"
          />
        </div>
      </si-ng-carousel>
      <si-ng-carousel-navigation
        [carousel]="carousel"
        [previews]="previewPhotos"
        id="carousel-controller"
      >

      </si-ng-carousel-navigation>
    </div>
    <p>{{os.fullDescription}}</p>

  </mat-card-content>
  <mat-divider *ngIf="os.terminalEnable || os.graphicsEnable"></mat-divider>
  <mat-card-actions *ngIf="os.terminalEnable || os.graphicsEnable" class="run-button">
    <button *ngIf="os.terminalEnable" mat-raised-button color="primary" (click)="openCloseTerminal()">
      <mat-icon>power_settings_new</mat-icon>
      <div>{{runTerminalText}}</div>
    </button>
    <button *ngIf="os.graphicsEnable" mat-raised-button color="primary">
      <mat-icon>power_settings_new</mat-icon>
      <div>Запустить графику</div>
    </button>
  </mat-card-actions>
  <div
    *ngIf="terminalOpened"
  >
    <mat-card class="os-authorize">
      <mat-card-content>
        Пользователь: {{os.osUsername}}<br>
        Пароль: {{os.osPassword}}<br>
        Пароль root: {{os.osRootPassword}}<br>
      </mat-card-content>
    </mat-card>
    <ng-terminal
      #term
      [rows]="80"
      [cols]="25"
    ></ng-terminal>
  </div>
</mat-card>
